<%- include('../partials/head.ejs'); %>
<%- include('../partials/nav.ejs'); %>

<body class="m-t-100">

<main role="main" class="container">
  <h3 class="color-red uppercase">About</h3>
  <section class="jumbotron p4">
    <p class="lead">This app uses <a href="https://covid19api.com">covid19api.com</a> - a free API for data on  COVID19, sourced from <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a></p>
  </section>
</main>

<%- include("../partials/footer.ejs") %>

</body>
</html>