<%- include('../partials/head.ejs'); %>
<%- include('../partials/nav.ejs'); %>

<body class="m-t-100">

<main role="main" class="container">
  <section class="jumbotron p4">
    <p class="lead">This app is built with Node, Express, EJS and Bootstrap. It uses a free API for COVID19 data from <a href="https://covid19api.com">covid19api.com</a>, Emoji flags from <a href="https://www.npmjs.com/package/emoji-flags">npmjs.com</a> and Charts from <a href="https://www.chartjs.org">chartjs.org</a>.</p>
  </section>
</main>

<%- include("../partials/footer.ejs") %>

</body>
</html>